@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/my.css")
<h1>Assignment Tracker</h1>

<p class="lead">
    This website is created to keep a track of all the assignments of various courses.
    <br /> It also allows us to edit, delete and update any previous assignment.
</p>
