@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url('images/background.jpg');
        background-position: center;
        color: white;
    }
    </style>
<h1>Assignment Tracker</h1>

<p class="lead">
    This website is created to keep a track of all the assignments of various courses.
    <br /> It also allows us to edit, delete and update any previous assignment.
</p>
